/* CSS ZulaBrokenWing website Style Sheet */

/* Get fonts */
@font-face {
    font-family: 'CreativeDesigner';
    src: url(fonts/CreativeDesigner);
}

@font-face {
    font-family: 'Viner Hand ITC';
    src: url(fonts/Viner-Hand-ITC);
}

@font-face {
    font-family: 'Designosaur';
    src: url(fonts/Designosaur-Regular);
}

@font-face {
    font-family: 'Berlin Sans FB';
    src: url(fonts/Berlin-Sans-FB-Regular);
}

/* a href remove underline */
a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Set header size */
header{
    width: auto;
}

/* Set main size */
main{
    width: auto;
}

/* Make background black and text white */
body{
    background-color:#212121;
    color: #FFFFFF;
    /*Causing the screen to have a side scroller */
    /*width: 100%;*/
}

/* Make logo align to the left of the text title, and adjust its scale */
#logo{
    float: left;

    width: 7em; /* Get size of logo on the page (Experiment with size once format is established) */

    position: relative;
    top: 1em;
    left: 10em;

    /*outline: 1px solid blue;*/
}

/* Adjust the header size */
header{
    width: 100%;
    height: 20em;
    /*
    outline: 1px solid red;
    */
}

/* Adjust Header1 font size, style, and alignment */
h1{
    font-size: 8em; /* 128px / 16 = 8em */
    text-align: center;
    font-family: "Creative Designer", "Brush Script MT", cursive;
    margin:auto;
    margin: 2%;
}

h1 a{
    text-decoration: none;
    color: #FFFFFF;
    border: 5em;
}
/* End Header1 adjust */

/* Adjust the navigation bar's font size, color, style, and alignment */
#navigate{
    margin: 0 auto;
    width: 95%;
    /*padding: 1em;*/
    /*outline: 1px solid yellow;*/
    margin-bottom: 5%;

    /* Nudge to the left */
    position: relative;
    right: 1em;
}

#navigate ul {
    /*outline: 1px solid white;*/
    margin: 0 auto;
}

#navigate ul li{
    color: #FFFFFF;
    font-size: 3.5em; /* 56px / 16 = 3.5em */
    font-family: "Designosaur", "Tahoma", sans-serif;
    
    width: 20%;
    list-style-type: none;
    text-align: center;
    float: left;
    /*
    outline: 1px solid white;
    */
    margin-left: 1em;
    margin-right: 1em;
    
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#navigate ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
/* End navigation bar */

/* Adjust article width to the page */
#article{
    width: 100%;
    /*outline: 1px solid red;*/
}

/* Adjust Header2 font size, style, and alignment */
h2{
    font-size: 5em; /* 80px / 16 = 5em */
    font-family: "Viner Hand ITC", "Brush Script MT", cursive;
}

/* Adjust Header4 font size, style, and alignment */
h4{
    text-align: center;
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 2em; /* 32px / 16 = 2em */

    color: #FFFFFF;
}

/*Center article header on the left*/
.art-l-cent-head{
    text-align: center;
    margin: 2%;
    margin-bottom: 5%;
}

/*Center article header*/
.art-cent-head{
    text-align: center;
    /*outline: 1px solid green;*/
}

/* Adjust article text width to the page */
#a-l-text{
    width: 50%; /*Left align*/
    /*outline: 1px solid red;*/

    position: relative;
    top: 1em;
    left: 5em;
}

/* Adjust article text width to the page */
#a-text{
    width: 90%;
    /*outline: 1px solid red;*/

    position: relative;
    top: 1em;
    left: 5em;
}

/* Adjust article font size, style, margins, and alignment */
#article p{
    font-size: 2em; /* 32px / 16 = 2em */
    text-align: left;
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;

    /*outline: 1px solid red;*/
    
}

/* Adjust button font size, style, and alignment */
#buttons{
    width: 100%;
    /*outline: 1px solid red;*/
    text-align: center;
    clear: both;
    margin: auto;
    margin-bottom: 5%;
}

/* Adjust button font size, style, and alignment */
#buttons2{
    width: 100%;
    /*outline: 1px solid red;*/
    text-align: center;
    clear: both;
    margin: auto;
    margin-bottom: 5%;
}

.orange{
    background-color: #F59600;
    color: #FFFFFF;
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 2.5em; /* 48px / 16 = 3em */
    border: none;
    border-radius: 25em;
    padding: .2em;
    width: 9em;
    margin: .25em;
}

.purple{
    background-color: #5511A8;
    color: #FFFFFF;
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 2.5em; /* 48px / 16 = 3em */
    border: none;
    border-radius: 25em;
    padding: .2em;
    width: 9em;
    margin: .25em;
}

.greyed-out{
    /* Grey out */
    opacity: .5;

    /*background-color: #5511A8;*/
    color: #FFFFFF;
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 2.5em; /* 48px / 16 = 3em */
    border: none;
    border-radius: 25em;
    padding: .2em;
    width: 9em;
    margin: .25em;
}
/* End button adjustment */

/* Make footer have a diffrent color, adjust the font size, font style, and alignment */
footer{
    font-size: 1.5em; /* 16px / 16 = 1em */
    line-height: 3;
    text-align: center;
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
    background-color: #000000;
    padding: 2%;
}

/* Forms */

/* Form */
form{
    /* Trying to center the form*/
    width: 50%;
    margin: 0 auto;

    display: block;
    text-align: center;

    /*outline: 1px solid blue;*/

    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 2em; /* 32px / 16 = 2em */
}

/* Input */
input[type=text]{
    width: 15em;
    height: 3em;
    font-family: "Designosaur", "Tahoma", sans-serif;
}

textarea{
    width: 50em;
    height: 30em;
    font-family: "Designosaur", "Tahoma", sans-serif;
}

input[type=submit]{
    
    width: 9em;
    height: 3em;
    
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 1em; /* 32px / 16 = 2em */

    background-color: #5511A8;
    color: #FFFFFF;

    border-radius: 2em;
    border: none;

    margin-bottom: 5%;
}
/* End Input and Form */

/* Start of TOS page */

/* Mini Header */
.mini-header{
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 3em; /* 48px / 16 = 3em */
    /*outline: 1px solid pink;*/
}

/* Tiny Header */
.tiny-h{
    font-size: 2.5em; /* 40px / 16 = 2.5em */
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
    font-weight: normal;
}

/* Center Please */
.center-plz{
    font-family: "Designosaur", "Tahoma", sans-serif;
    font-size: 3em; /* 48px / 16 = 3em */
    text-align: center;
    /*outline: 1px solid royalblue;*/
}

/* TOS List */
.tos-list{
    font-size: 2em; /* 32px / 16 = 2em */
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
}

/* Spaced TOS List */
.spaced{
    margin-bottom: 2%;
}

/* Center Paragraph */
#article p.center-p{
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
    width: 100%;
    /*outline: 1px solid orchid;*/

    text-align: center;
}

/* Make any image that's on the side of the text go to the right */
#r-side-img{
    float: right;
    vertical-align: top;
    
    margin-bottom: 5%;
    /*margin-left: 5%;*/

    /* Why does not having this break everything??? */
    /*margin: 1%;*/

    /*outline: 1px solid red;*/
    
    position: relative;
    right: 5em;

    width: 35em; /* Get size of image on the page (Make larger once format is established) */
}

/* Right Side Images */
.p-r-side-img{
    float: right;
    vertical-align: top;

    /*outline: 1px solid cyan;*/
    
    position: relative;
    right: 5em;

    width: 39em; /* Get size of image on the page (Make larger once format is established) */
}

/* Center Images */
.center-img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 45em;
    /*outline: 1px solid purple;*/
}

/* Large Center Images */
.l-center-img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90em;
    /*outline: 1px solid purple;*/
}
/* Left Side Articles */
.a-left-text{
    width: 47%; /*Left align*/
    /*outline: 1px solid pink;*/

    position: relative;
    top: 1em;
    left: 5em;
}

/* List formats */ 
.socials-list{
    font-size: 2em; /* 32px / 16 = 2em */
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
}

.socials-list li{
    margin-bottom: 5%;
}

.no-bullet{
    text-decoration: none;
    list-style: none;
}

.centered-list{
    font-size: 2em; /* 32px / 16 = 2em */
    font-family: "Berlin Sans FB", "Trebuchet MS", sans-serif;
    
    text-align: center;
    list-style-position: inside;
}

/* Split screne in half to focus on image examples */

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

video{
    width: 90%;
    display: block;
    margin: auto;
}